#include <iostream>
#include <math.h>
#include <fstream>
#include <cstdlib>
using namespace std;


int main()
{
   float a, b, result;
   char operation;
   long long silnia = 1;



   // Get numbers and mathematical operator from user input
   cin >> a >> operation >> b;

   // Character constants are enclosed in single quotes
   switch(operation)
   {
   case '+':
         result = a + b;
         break;

   case '-':
         result = a - b;
         break;

   case '*':
         result = a * b;
         break;

   case '/':
         result = a / b;
         break;
   case '!':
       for (int i = 1; i<=a;i++)
            result= silnia *= i;
       break;

   case '^':
         int wynik, n;
       if( b == 0 )
           {
               wynik = 1;
           }
           else
           {
               wynik = a;
               for( n = 1; n < b; n++ )
               {
                 result=  wynik = wynik * a;
               }
           }


       break;

   case'@':

   result = pow(a, 1/b);

        break;

   case'e':
    exit(0);
       break;


   default:
         cout << "Invalid operation. Program terminated." << endl;
         return -1;

}

   // Output result
   cout<<"\n";
   cout << result << endl;
    ofstream out("E://wynik.txt",ios::in|ios::out|ios::app);
    out<<"result: "<<result<<endl;


   return 0;
}
